[submodule "package/zsh/oh-my-zsh"]
	path = package/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	shallow = true
[submodule "package/yyscripts"]
	path = package/yyscripts
	url = https://github.com/moonfruit/yyscripts.git
	shallow = true
[submodule "package/archey-osx"]
	path = package/archey-osx
	url = https://github.com/moonfruit/archey-osx.git
	shallow = true
[submodule "package/zsh/powerlevel10k"]
	path = package/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
[submodule "package/zsh/fast-syntax-highlighting"]
	path = package/zsh/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
	shallow = true
[submodule "package/zsh/zsh-history-substring-search"]
	path = package/zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
	shallow = true
[submodule "package/zsh/zsh-autosuggestions"]
	path = package/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	shallow = true
