<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>moonfruit.sing</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/opt/sing-box@2/bin/sing-box</string>
		<string>run</string>
		<string>-C</string>
		<string>config</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/moonfruit.sing.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/moonfruit.sing.stdout</string>
	<key>WorkingDirectory</key>
	<string>/Users/moon/Workspace.localized/env/etc/sing-box</string>
</dict>
</plist>
