<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.moonfruit.bing</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>Nice</key>
	<integer>1</integer>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/python3</string>
		<string>/Users/moon/Documents/Workspace/python/bingwallpaper/bing.py</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Users/moon/Documents/Workspace/python/bingwallpaper/bing.log</string>
	<key>StandardOutPath</key>
	<string>/Users/moon/Documents/Workspace/python/bingwallpaper/bing.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>10</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/moon/Pictures/bing-wallpapers/</string>
</dict>
</plist>
