<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>WORKSPACE</key>
		<string>/Users/moon/Workspace.localized</string>
	</dict>
	<key>Label</key>
	<string>moonfruit.rsync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/bash</string>
		<string>/Users/moon/Workspace.localized/env/bin/rsync-workspace.sh</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/tmp/moonfruit.rsync.stdout</string>
	<key>StandardOutPath</key>
	<string>/tmp/moonfruit.rsync.stdout</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>2</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
