{
  "$schema": "https://sing-box.sagernet.org/schema.json",
  "inbounds": [
    {
      "type": "mixed",
      "tag": "public-in",
      "listen": "::",
      "listen_port": 7897,
      "users": [
        {
          "Username": "username",
          "Password": "password"
        }
      ]
    }
  ]
}
