<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.job</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/moon/Documents/Environment/bin/ideaServer</string>
		<string>-l</string>
		<string>127.0.0.1</string>
		<string>-p</string>
		<string>7999</string>
		<string>-u</string>
		<string>moonfruit</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
