<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accountName</key>
		<string>🇺🇸 1</string>
		<key>accountType</key>
		<string>PPTP</string>
		<key>connectionEndDate</key>
		<date>2017-08-13T12:23:20Z</date>
		<key>connectionStartDate</key>
		<date>2017-08-13T12:09:58Z</date>
		<key>duration</key>
		<real>801.73095899820328</real>
		<key>maxBytesIn</key>
		<integer>619890</integer>
		<key>maxBytesOut</key>
		<integer>36223</integer>
		<key>remoteIP</key>
		<string>192.168.245.1</string>
		<key>securedIP</key>
		<string>192.168.245.2</string>
		<key>totalBytes</key>
		<integer>38159549</integer>
		<key>totalBytesIn</key>
		<integer>34759002</integer>
		<key>totalBytesOut</key>
		<integer>3400547</integer>
	</dict>
	<dict>
		<key>accountName</key>
		<string>🇺🇸 1</string>
		<key>accountType</key>
		<string>PPTP</string>
		<key>connectionEndDate</key>
		<date>2017-08-13T14:33:30Z</date>
		<key>connectionStartDate</key>
		<date>2017-08-13T14:31:45Z</date>
		<key>duration</key>
		<real>105.08808100223541</real>
		<key>maxBytesIn</key>
		<integer>214491</integer>
		<key>maxBytesOut</key>
		<integer>78602</integer>
		<key>remoteIP</key>
		<string>192.168.245.1</string>
		<key>securedIP</key>
		<string>192.168.245.2</string>
		<key>totalBytes</key>
		<integer>3763281</integer>
		<key>totalBytesIn</key>
		<integer>3107529</integer>
		<key>totalBytesOut</key>
		<integer>655752</integer>
	</dict>
	<dict>
		<key>accountName</key>
		<string>🇺🇸 1</string>
		<key>accountType</key>
		<string>PPTP</string>
		<key>connectionEndDate</key>
		<date>2017-08-13T14:36:08Z</date>
		<key>connectionStartDate</key>
		<date>2017-08-13T14:34:19Z</date>
		<key>duration</key>
		<real>109.68306398391724</real>
		<key>maxBytesIn</key>
		<integer>600341</integer>
		<key>maxBytesOut</key>
		<integer>44881</integer>
		<key>remoteIP</key>
		<string>192.168.245.1</string>
		<key>securedIP</key>
		<string>192.168.245.2</string>
		<key>totalBytes</key>
		<integer>10444981</integer>
		<key>totalBytesIn</key>
		<integer>9499587</integer>
		<key>totalBytesOut</key>
		<integer>945394</integer>
	</dict>
	<dict>
		<key>accountName</key>
		<string>🇺🇸 1</string>
		<key>accountType</key>
		<string>PPTP</string>
		<key>connectionEndDate</key>
		<date>2017-08-16T03:50:57Z</date>
		<key>connectionStartDate</key>
		<date>2017-08-16T03:49:15Z</date>
		<key>duration</key>
		<real>101.6783549785614</real>
		<key>maxBytesIn</key>
		<integer>386608</integer>
		<key>maxBytesOut</key>
		<integer>57185</integer>
		<key>remoteIP</key>
		<string>192.168.245.1</string>
		<key>securedIP</key>
		<string>192.168.245.2</string>
		<key>totalBytes</key>
		<integer>3447825</integer>
		<key>totalBytesIn</key>
		<integer>2932365</integer>
		<key>totalBytesOut</key>
		<integer>515460</integer>
	</dict>
	<dict>
		<key>accountName</key>
		<string>🇺🇸 2</string>
		<key>accountType</key>
		<string>PPTP</string>
		<key>connectionEndDate</key>
		<date>2017-08-16T03:52:16Z</date>
		<key>connectionStartDate</key>
		<date>2017-08-16T03:51:03Z</date>
		<key>duration</key>
		<real>73.181795001029968</real>
		<key>maxBytesIn</key>
		<integer>499964</integer>
		<key>maxBytesOut</key>
		<integer>38177</integer>
		<key>remoteIP</key>
		<string>192.168.245.1</string>
		<key>securedIP</key>
		<string>192.168.245.2</string>
		<key>totalBytes</key>
		<integer>6084918</integer>
		<key>totalBytesIn</key>
		<integer>5362424</integer>
		<key>totalBytesOut</key>
		<integer>722494</integer>
	</dict>
	<dict>
		<key>accountName</key>
		<string>🇺🇸 2</string>
		<key>accountType</key>
		<string>PPTP</string>
		<key>connectionEndDate</key>
		<date>2017-08-16T04:00:31Z</date>
		<key>connectionStartDate</key>
		<date>2017-08-16T03:59:43Z</date>
		<key>duration</key>
		<real>48.174585998058319</real>
		<key>maxBytesIn</key>
		<integer>738330</integer>
		<key>maxBytesOut</key>
		<integer>35029</integer>
		<key>remoteIP</key>
		<string>192.168.245.1</string>
		<key>securedIP</key>
		<string>192.168.245.2</string>
		<key>totalBytes</key>
		<integer>12474555</integer>
		<key>totalBytesIn</key>
		<integer>11832693</integer>
		<key>totalBytesOut</key>
		<integer>641862</integer>
	</dict>
	<dict>
		<key>accountName</key>
		<string>🇺🇸 2</string>
		<key>accountType</key>
		<string>PPTP</string>
		<key>connectionEndDate</key>
		<date>2017-08-16T06:39:51Z</date>
		<key>connectionStartDate</key>
		<date>2017-08-16T06:37:23Z</date>
		<key>duration</key>
		<real>148.59618198871613</real>
		<key>maxBytesIn</key>
		<integer>1301447</integer>
		<key>maxBytesOut</key>
		<integer>68783</integer>
		<key>remoteIP</key>
		<string>192.168.245.1</string>
		<key>securedIP</key>
		<string>192.168.245.2</string>
		<key>totalBytes</key>
		<integer>19967030</integer>
		<key>totalBytesIn</key>
		<integer>18584806</integer>
		<key>totalBytesOut</key>
		<integer>1382224</integer>
	</dict>
	<dict>
		<key>accountName</key>
		<string>🇺🇸 1</string>
		<key>accountType</key>
		<string>PPTP</string>
		<key>connectionEndDate</key>
		<date>2017-08-17T14:07:17Z</date>
		<key>connectionStartDate</key>
		<date>2017-08-17T14:06:16Z</date>
		<key>duration</key>
		<real>61.354358971118927</real>
		<key>maxBytesIn</key>
		<integer>362291</integer>
		<key>maxBytesOut</key>
		<integer>42259</integer>
		<key>remoteIP</key>
		<string>192.168.245.1</string>
		<key>securedIP</key>
		<string>192.168.245.2</string>
		<key>totalBytes</key>
		<integer>2236993</integer>
		<key>totalBytesIn</key>
		<integer>1874000</integer>
		<key>totalBytesOut</key>
		<integer>362993</integer>
	</dict>
</array>
</plist>
