<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>ENV</key>
		<string>/Users/moon/Documents/Environment</string>
		<key>YY_PASSWORD</key>
		<string>/Users/moon/Documents/Environment/etc/private.txt</string>
	</dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>moonfruit.goproxy.aio</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/bash</string>
		<string>/Users/moon/Documents/Environment/package/goproxy/proxy.sh</string>
		<string>proxy.aio.conf</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>WorkingDirectory</key>
	<string>/Users/moon/Documents/Environment/package/goproxy/</string>
</dict>
</plist>
