<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>moonfruit.gost</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/moon/Workspace.localized/env/package/gost/gost</string>
		<string>-C</string>
		<string>gost.json</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/tmp/moonfruit.gost.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/moonfruit.gost.stdout</string>
	<key>WorkingDirectory</key>
	<string>/Users/moon/Workspace.localized/env/package/gost</string>
</dict>
</plist>
